* {
    box-sizing: border-box;
}

/*MAIN ELEMENTS*/

body {
    background-image: linear-gradient(to right, #012F5A, #297EAA, #012F5A);
    margin: 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

main .container {
    max-width: 100vw;
}

footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: #000;
    color: #6f6e6e;
}

.black_bar {
    background-color: #000;
    color: #a3a3a3;
    position: relative;
    bottom: 0;
    max-height: 200px;
    padding: 10px;
    font-size: calc(0.8em + 30%);
}

.social_icon {
    cursor: pointer;
}

.social img {
    max-width: 50px;
}

.sidebar {
    background-image: linear-gradient(#e9e9e9, #fff);
    color: #303030;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*NAVIGATION*/

.burgermenu {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 2vw;
    top: 2vw;
    transition: 1s ease-in-out;
    z-index: 2;
    background-color: #000;
    border: none;
}

.menu_icon {
    display: none;
    font-size: calc(0.5em + 40%);
    padding: 5px;
    color: #fff;

}

.active {
    display: block;
}

.fa-times,
.fa-bars {
    color: #fff;
}

.navigation {
    max-width: 960px;
    z-index: 1;
    margin: 0 auto;
    background-image: linear-gradient(to right, #000, #272829);
    display: block;
    text-align: center;
}

.main_nav {
    display: block;
    width: 100vw;
    height: 100vh;
    max-height: 0px;
    min-width: 100px;
    overflow: hidden;
    transition: 0.6s ease;
    margin: 0;
    text-align: left;
    z-index: 1;
    top: 0vw;
    left: 0;
    transition: 0.8s ease;
    position: fixed;
    background-color: #000;
}

.show {
    max-height: 100vh;
}


button.nav_button {
    display: block;
    background-color: transparent;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: calc(1.5em + 30%);
    cursor: pointer;
    padding: 2vw 0 2vw 20vw;
    transition: 0.2s ease-in-out;
}

button.nav_button:hover {
    transform: scale(1.02);
}

.btn.btn-primary.readmore {
    border-radius: 2px;
    border-color: transparent;
    background-color: #5caad2;
    background-image: linear-gradient(#5caad2, rgb(0, 0, 0) 600%);
    box-shadow: 0px 1px 0px 0px rgba(39, 39, 39, 0.004);
    width: 141px;
    height: 28px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: calc(0.6rem + 10%);
    border-color: transparent;
}

.logo {
    max-height: 68px;
    padding-bottom: 70px;
}

.form-control.search_bar {
    position: absolute;
    left: 20%;
    bottom: auto;
    width: 50vw;
    height: 40px;
    border-radius: 50px;
    background-image: url('../img/search_icon.png');
    background-size: 15px;
    /* Position the search icon */
    background-position: 5% 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
}

/*HEADINGS*/

h1,
h2,
.nav_button {
    font-family: "adobe-garamond-pro", serif !important;
    font-weight: 400;
    font-style: normal;
}

main h2 {
    text-transform: capitalize;
    font-size: calc(1.2em + 50%);
}

footer a {
    text-decoration: none;
    background-color: transparent;
    color: #6f6e6e;
    transition: 0.2s ease-in;
}

footer a:hover {
    color: #fff !important;
    text-decoration: underline;
}

q {
    font-style: italic;
    color: #a3a3a3;
    font-family: Georgia, Times, "Times New Roman", serif;
}

p,
address,
.form-control.search_bar {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: calc(0.5em + 30%);
}

/*
main p {
    margin-bottom: 0rem !important;
}
*/

address {
    margin-bottom: 0rem !important;
}

.logo h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: calc(1.3em + 30%);
    margin: 0;
    max-height: 40px;
    padding-top: 2vw;
}

.logo h2 {
    color: #fff;
    margin: 0;
    font-size: calc(0.4em + 45%);
    /*    margin-top: 5px;*/
}

.logo_grey {
    color: #636262;
}

.name {
    color: #a3a3a3;
}

.wordspacing {
    word-spacing: 2.2em;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

img {
    width: 100%;
}

/*SLIDER*/

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 75vw;

}

.slider_image_new_pos {
    object-position: right;
}

/*POSTS*/

.card-date {
    color: #2c83b0;
}

main .card-header {
    background-color: transparent;
    border-bottom: none;
}

.card.col-12 {
    border: none;
    border-bottom: solid 1px #e9e9e9;
    border-radius: 0;
}

/*SPONSORS*/

.sponsor_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 10px;
}

.sponsor {
    width: 100%;
    height: 150px;
    border: double 10px lightgrey;
    cursor: pointer;
}

.spons1 {
    background-image: url(../img/sponsors/sponsor1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.spons2 {
    background-image: url(../img/sponsors/sponsor2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons3 {
    background-image: url(../img/sponsors/sponsor3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons4 {
    background-image: url(../img/sponsors/sponsor4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons5 {
    background-image: url(../img/sponsors/sponsor5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons6 {
    background-image: url(../img/sponsors/sponsor6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons7 {
    background-image: url(../img/sponsors/sponsor7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons8 {
    background-image: url(../img/sponsors/sponsor8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons9 {
    background-image: url(../img/sponsors/sponsor9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons10 {
    background-image: url(../img/sponsors/sponsor10.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons11 {
    background-image: url(../img/sponsors/sponsor11.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons12 {
    background-image: url(../img/sponsors/sponsor12.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons13 {
    background-image: url(../img/sponsors/sponsor13.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons14 {
    background-image: url(../img/sponsors/sponsor14.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons15 {
    background-image: url(../img/sponsors/sponsor15.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons16 {
    background-image: url(../img/sponsors/sponsor16.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons17 {
    background-image: url(../img/sponsors/sponsor17.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons18 {
    background-image: url(../img/sponsors/sponsor18.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons19 {
    background-image: url(../img/sponsors/sponsor19.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons20 {
    background-image: url(../img/sponsors/sponsor20.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons21 {
    background-image: url(../img/sponsors/sponsor21.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spons22 {
    background-image: url(../img/sponsors/sponsor22.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*MEDIA QUERIES*/

/*768 TABLET*/

@media screen and (min-width: 768px) {

    .burgermenu {
        right: 10vw;
    }

    .logo {
        padding-bottom: 100px;
    }

    .logo h1 {
        font-size: calc(1.9em + 30%);
        padding-top: 10px;
    }

    .logo h2 {
        font-size: calc(0.8em + 35%);
        padding-top: 10px;
    }

    .carousel-item img {
        object-fit: none;
        height: auto;
    }

    .black_bar {
        font-size: calc(1.2em + 30%);
    }

    .slider_image_new_pos {
        object-position: center;
    }

    .sponsor_container {
        grid-template-columns: repeat(3, 1fr);
    }
}


/*DESKTOP*/

@media screen and (min-width: 1200px) {

    .form-control.search_bar {
        position: absolute;
        left: 70%;
        top: 1vw;
        width: 170px;
        height: 20px;
        border-radius: 50px;
        background-image: url('../img/search_icon.png');
        background-size: 15px;
        /* Position the search icon */
        background-position: 5% 50%;
        background-repeat: no-repeat;
        padding-left: 35px;
    }

    .logo {
        padding-bottom: 70px;
    }

    .burgermenu {
        display: none;
    }

    .main_nav {
        display: flex;
        background-image: none;
        margin: 0;
        padding: 7px 0 7px 0;
        justify-content: space-between;
        align-items: flex-end;
        width: 55%;
        position: inherit;
        max-height: inherit;
        height: 75px;
        background-color: transparent;
    }

    .logo {
        width: 45%;
    }


    .navigation {
        display: flex;
        text-align: left;
        padding: 20px;
    }

    button.nav_button {
        font-size: calc(0.5em + 20%);
        padding: 0;
    }

    .sponsor_container {
        grid-template-columns: repeat(6, 1fr);
    }

    .sponsor {
        height: 100px;
    }

    .sponsor_container {
        grid-gap: 10px;
    }
}
